h1{
    color: rgb(68, 68, 199);
    font-style: oblique;
    font-family:"Playwrite GB S", cursive;
}

h2{
    color: rgb(68, 68, 199);
    font-family:"Playwrite GB S", cursive;
}
h3{
    color: rgb(68, 68, 199);
    font-family:"Playwrite GB S", cursive;
}
ul{
    color: rgb(61, 61, 61);
    font-family:"Playwrite GB S", cursive;
}
h5{
    color: rgb(61, 61, 61);
    font-family:"Playwrite GB S", cursive;
}
p{
    color: rgb(61, 61, 61);
    font-family:"Playwrite GB S", cursive;
}
span{
    color: rgb(61, 61, 61);
    font-family:"Playwrite GB S", cursive;
}
a{
    color: red;
    font-family:"Playwrite GB S", cursive;
}
