h1{
    color: rgb(68, 68, 199);
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
}

h2{
    color: rgb(68, 68, 199);
}
h3{
    color: rgb(68, 68, 199);
}
ul{
    color: rgb(61, 61, 61);
}
h5{
    color: rgb(61, 61, 61);
}
p{
    color: rgb(61, 61, 61);
}
span{
    color: rgb(61, 61, 61);
}
a{
    color: red;
}
